body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
a {
    text-decoration: none;
    color: #000000;
}

  .caixa-post {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 60vw;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: inherit;
    display: block;
    margin: 20px auto;
  }

.ponto {
    color: lightgray;
    margin: 3px;
}

  .caixa-post:hover {
    background-color: #f0f0f0;
  }

  .data-postagem {
    font-size: 0.8em;
    color: #666;
    margin: 8px 5px;
  }

  .autor {
    font-style: bold;
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    align-content: center;
  }

  

  .n_autor {
    margin-right: 4px;
  }

  .conteudo-post {
    align-items: center;
    align-content: center;
  }

.conteudo-post p {
    margin: 0 20px 0 10px;
    width: 100%;
}

#div-img {
  background: black; 
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 6px;
}

  img {
    margin: 0 auto;
    max-width: 100%;
    border-radius: 6px;

    height: 35vw;
  }

  .rodape-post {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    color: #555;
    font-size: 0.9em;
  }

    .btn-curtir {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }


  iframe {
    width:90px;
    height:40px; 
    border:none; 
    overflow:hidden; 
  }

  .foto_perfil {
    width: 40px;
    height: 40px;
    margin: 0 5px 5px 0;
    border-radius: 50%;
  }