#login {
    margin: min(120px, 12vh) auto;
    
    background-color: white;
    width: 60%;
    height: 20%;
    min-width: 280px;
    max-width: 600px;
    max-height: 1000px;
    align-items: center;
    align-content: center;
    border-style: solid;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 150%;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
}

p {
    color: black;
    margin: 1vh 0 0.5vh 0;
    text-align: left;
}

header {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: black;
    padding-bottom: 8px;
    margin-left: 8px;
}

h1 {
    color: black;
    margin: 0.5vh 0 2vh 0;
    font-size: 2em;
    text-align: center;
}
/* #8295c2 */

body {
    background-color: white;

}

input {
    width: 100%;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
}

button {
    font-size: 0.8em;
    border-radius: 5px;
    border-style: none;
    margin-top: 1vh;
    width: 101%;
    margin: auto;
    height: 3vh;
    min-height: 40px;
    background-color: lightcoral;
    color: white;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
}

button:hover {
    background-color: rgb(240, 110, 110);
    box-shadow: none;
    color: rgb(247, 247, 247);
}

header img {
    width: min(40px, 8vw);
    
}

form {
    padding: 0 5% 0 5%;
}

#div_butao {
    margin-top: 5%;
    text-align: center;
}

#link {
    color: rgb(13, 88, 201);
    text-decoration: underline;

}
a {
    font-size: 0.7em;
    margin: auto;
    color: black;
    text-decoration: none;
    text-align: center;
}

#erro {
    color: rgb(236, 72, 72);
    font-size: 0.6em;
}

header .nome, .sair  .nome {
    font-size: min(30px, 6vw);
}

.nome {
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    align-items: center;
    align-content: center;
    margin-left: 5px;
}

#voltar {
    padding: 0 5% 0 5%;
    align-items: center;
    align-content: center;
    text-align: center;
}

#input-img {
    color: black;
}